# Environment
.env
**/.env

# Logs
*.log
logs/
.pids/

# Node
**/node_modules/
coverage/
dist/
build/

# Java / Maven / Gradle
**/target/
**/.mvn/
**/.gradle/

# Python
**/.venv/
**/venv/
**/__pycache__/
**/*.pyc

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
