server:
  port: 8081
  servlet:
    context-path: /
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB:erp_db}
    username: ${POSTGRES_USER:erp_user}
    password: ${POSTGRES_PASSWORD:erp_password}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    schemas: auth
    defaultSchema: auth
    locations: classpath:db/migration
  mail:
    host: ${SPRING_MAIL_HOST:smtp.gmail.com}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH:true}
          starttls:
            enable: ${SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE:true}
management:
  endpoints:
    web:
      exposure:
        include: health,info
